{{ $fn := .function_name | replace "-" "_" }}
module "lambda_{{ $fn }}" {
  source        = "../../../../../modules/lambda"
  function_name = "${var.app_name}-${var.lambda_name}-${var.environment}"
  iam_role_arn  = aws_iam_role.lambda_role.arn
  handler       = "{{ .handler }}"
  runtime       = "{{ .runtime }}"
  timeout       = 30
  memory_size   = 128
  s3_bucket     = "${var.app_name}-${var.s3_bucket_name}-${var.environment}"
  s3_key        = var.s3_bucket_key
  environment   = var.environment

  # Add the environment variables
  # environment_variables = {
  #   REGION    = {{ .region }}
  #   NODE_ENV  = {{ .environment }}
  # }
}

resource "aws_ssm_parameter" "lambda_{{ $fn }}_arn" {
  name  = "/${var.app_name}/${var.environment}/services/lambda/${var.lambda_name}/arn"
  type  = "String"
  value = module.lambda_{{ $fn }}.lambda_arn
}

resource "aws_ssm_parameter" "lambda_{{ $fn }}_name" {
  name  = "/${var.app_name}/${var.environment}/services/lambda/${var.lambda_name}/name"
  type  = "String"
  value = module.lambda_{{ $fn }}.lambda_name
}

