variable "aws_region" {
  type    = string
  default = "{{ .region }}"
}

variable "environment" {
  type    = string
  default = "{{ .environment }}"
}

variable "app_name" {
  type    = string
  default = "{{ .project_name }}"
}